<div class="form">
  <div class="charts">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="zielForm" (ngSubmit)="addZiel()">
          <mat-form-field appearance="fill">
            <mat-label>Einnahme Titel</mat-label>
            <input matInput formControlName="titel">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Betrag</mat-label>
            <input matInput formControlName="betrag" type="number">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Datum</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="datum">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>EinnahmeType</mat-label>
            <mat-select formControlName="einnahmeType">
              <mat-option value="Gehaltszahlung">Gehaltszahlung</mat-option>
              <mat-option value="Stipendium">Stipendium</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Beschreibung</mat-label>
            <textarea matInput formControlName="beschreibung"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Hinzufügen</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class = "charts">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor="let ziel of ziele">
        <mat-expansion-panel-header >
          <mat-panel-title >
            {{ziel.titel}}
            TITEL
          </mat-panel-title>
          <mat-panel-description>
            {{ziel.betrag | currency : 'EUR'}}
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          {{ziel.datum}}
        </p>
        <p>
          {{ziel.beschreibung}}
        </p>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
