<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav" [fixedInViewport]="true">
    <div class="sidenav-header">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <mat-list-item routerLink="/overview" routerLinkActive="active">
        <button mat-button>
          <mat-icon class="menu-icon">dashboard</mat-icon>
          <span class="menu-text">Übersicht</span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/transactions" routerLinkActive="active">
        <button mat-button>
        <mat-icon class="menu-icon">list</mat-icon>
          <span class="menu-text">Transaktionen anzeigen</span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/income" routerLinkActive="active">
        <button mat-button>
          <mat-icon class="menu-icon">attach_money</mat-icon>
          <span class="menu-text">Einnahmen</span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/expenses" routerLinkActive="active">
        <button mat-button>
        <mat-icon class="menu-icon">money_off</mat-icon>
          <span class="menu-text">Ausgaben</span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/goals" routerLinkActive="active">
        <button mat-button>
        <mat-icon class="menu-icon">trending_up</mat-icon>
        <span class="menu-text">Finanzielle Ziel</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ opened ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
