.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  padding-top: 20px; /* Adjust to push the menu items down */
}

.sidenav-nav-list {
  padding-top: 45px; /* Pushes the menu items down */
}

.sidenav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.menu-icon {
  margin-right: 10px;
}

.menu-text {
  font-weight: 500;
  white-space: nowrap; /* Ensure text doesn't wrap */
}

.topbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spacer {
  flex: 1 1 auto;
}
