.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  transition: width 0.3s;
}

.sidenav-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

mat-sidenav[mode="side"] {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-icon {
  margin-right: 10px;
  font-size: 24px;
}

.menu-text {
  font-size: 16px;
  flex: 1;
}
