<div class="dashboard">
  <h1>Alle Transaktionen</h1>
  <div class="charts">
    <div class="account-status">
      <div class="balance">Kontostand: +300 €</div>
      <div class="income">Einnahme: +600 €</div>
      <div class="expenses">Ausgaben: -300 €</div>
    </div>
    <div class="last-activities">
      <h2>Letzte Aktivitäten</h2>
      <div class="activity">Transaktion n -60€</div>
      <div class="activity">Transaktion n-1 -10€</div>
      <div class="activity">Transaktion n-2 -5€</div>
      <div class="activity">Transaktion n-3 +10€</div>
    </div>
    <div class="budget-tracker">
      <h2>Budget Tracker</h2>
      <div class="budget-item">Sonstiges: 50€</div>
      <div class="budget-item">Freizeit: 30€</div>
      <div class="budget-item">Miete: 320€</div>
      <div class="budget-item">Rest. & Bars: 50€</div>
    </div>
  </div>
</div>
